/* 
font color: copper: #9E6649  rgb (158, 102, 73)
font color: wrought iron: #4A4B4C  rgb (74, 75, 76)
page color: alabaster:  #EEEAE0  rgb (238, 234, 224)
*/

body {
    background-color: #EEEAE0;
}

nav {
    display: flex;
    align-items: left;
    justify-content: left;
}

nav ul {
    margin: 0px;
    padding-bottom: 15px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

nav ul li a {
    color: #4A4B4C;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: medium;
    text-decoration: none;
}

nav ul li a:hover {
    color: #9E6649
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 60vw 40vw;
    height: 90vh;
    /* width: 100% */
}

.main-container {
    grid-column: 1/2;
    grid-row: 2;
    height: 70vh;
    width: 85%;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
}

.sidebar-container {
    grid-column: 2/3;
    grid-row: 2;
    padding: 10px;
    /* font-family: 'Allura', cursive;
    color: #9E6649; */
}

.sidebar-title {
    font-size: 65px;
    font-weight: 300;
    padding-left: 180px;
    width: 365px;
    border-bottom: 5px solid #9E6649;
    font-family: 'Allura', cursive;
    color: #4A4B4C;
}

.sidebar-list {
    font-family: 'Montserrat', print;
    font-weight: 150px;
    font-size: 30px;
    /* padding-left: 65px;
    padding-top: 45px; */
    margin-left: 0;
    padding: 0;
    width: 450px;
    color: #9E6649;
    list-style: inside;
}