/* 
font color: copper: #9E6649  rgb (158, 102, 73)
font color: wrought iron: #4A4B4C  rgb (74, 75, 76)
page color: alabaster:  #EEEAE0  rgb (238, 234, 224)
*/

body {
    background-color: #EEEAE0;
}

nav {
    display: flex;
    align-items: left;
    justify-content: left;
    /* padding-top: 20px;
    padding-right: 10%;
    padding-left: 10%;*/
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    color: #4A4B4C;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: medium;

}

nav ul li a:hover {
    color: #9E6649
}