/* 
font-family: 'Allura', cursive; (preferred header font)
font-family: 'Caramel', cursive; (I don't think this one is being used)
font-family: 'Montserrat', print; (preferred nav bar font)

font color: copper: #9E6649  rgb (158, 102, 73)
font color: wrought iron: #4A4B4C  rgb (74, 75, 76)
page color: alabaster:  #EEEAE0  rgb (238, 234, 224)
*/

body {
    background-color: #EEEAE0;
}

nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* align-items: center;
    justify-content: flex-start; */
    /* align-items: left;
    justify-content: left; */
}

ul {
    margin: 0px;
    padding-bottom: 15px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

nav ul li a {
    color: #4A4B4C;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: medium;
    text-decoration: none;
}

nav ul li a:hover {
    color: #9E6649
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 60vw 40vw;
    height: 90vh;
    width: 100%
}

.main-container {
    grid-column: 1/2;
    grid-row: 2;
    height: 70vh;
    width: 85%;
    background-image: url(assets/balloons.jpg);
    background-size: cover;
    margin-left: 80px;
}

.sidebar-container {
    grid-column: 2/3;
    grid-row: 2;
    padding: 10px;
    font-family: 'Allura', cursive;
    color: #9E6649;
}

/* .sidebar-title {
    font-size: 95px;
    font-weight: 300;
    padding-left: 180px;
    width: 365px;
    border-bottom: 5px solid #9E6649;
    font-family: 'Allura', cursive;
    color: #4A4B4C;
 } */

.sidebar-title {
    /* font-size: 75px;
    font-weight: 300; */
    padding-left: 15px;
    width: 500px;
    border-bottom: 5px solid #9E6649;
    /* font-family: 'Allura', cursive;
    color: #4A4B4C; */
}

/* .sidebar-list {
    font-family: 'Montserrat', print;
    font-weight: 150px;
    padding-left: 65px;
    width: 350px;
    color: #9E6649;
    list-style: inside;
} */

.sidebar-tagline {
    font-size: 45px;
    line-height: 35px;
    line-height-step: 5px;
    color: #392824;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    width: 475px;
    border-bottom: 5px solid #9E6649;
    font-family: 'Allura', cursive;
}