/* 
font-family: 'Allura', cursive; (preferred header font)
font-family: 'Caramel', cursive; 
font-family: 
*/
/* 
font color: copper: #9E6649  rgb (158, 102, 73)
font color: wrought iron: #4A4B4C  rgb (74, 75, 76)
page color: alabaster:  #EEEAE0  rgb (238, 234, 224)
*/

body {
    background-color: #EEEAE0;
}

/* ********** HEADER ************* */
header {
    position: sticky;
    top: 0;
    background-color: rgb(74, 75, 76);
    /* background-image: linear-gradient(rgb(238, 234, 224), rgb(74, 75, 76)); */
    color: #9E6649;
    font-family: 'Allura', cursive;
}

.headerH1 {
    font-family: 'Allura', cursive;
    font-size: 90px;
}

.headerP {
    font-family: 'Allura', cursive;
    font-size: 40px;
}

img {
    border: 5.5px solid (158, 102, 73);
    /* rgb(11, 11, 40); (this is for a black border color)*/
}

/* *************** MAIN ************** */
/* this is changing the height of the page so it can scroll */
main {
    height: 100%;
}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intro {
    max-width: 500px;
    text-align: left;
}


footer {
    background-color: #9E6649;
    /* hsl(38, 21%, 7%); */
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.centered {
    text-align: center;
}

a {
    color: #4A4B4C;
}

.aboutMeSection {
    background-color: #9E6649;
}