/* 
font-family: 'Allura', cursive; (preferred header font)
font-family: 'Caramel', cursive; 
font-family: 'Montserrat', print; (preferred nav bar font)
*/
/* 
font color: copper: #9E6649  rgb (158, 102, 73)
font color: wrought iron: #4A4B4C  rgb (74, 75, 76)
page color: alabaster:  #EEEAE0  rgb (238, 234, 224)
*/

body {
    background-color: #EEEAE0;
}

/* ********** HEADER ************* */
header {
    /* position: sticky;
    top: 0; */
    background-color: rgb(74, 75, 76);
    color: #9E6649;
    font-family: 'Allura', cursive;
}

.headerH1 {
    font-family: 'Allura', cursive;
    font-size: 90px;
}

.headerP {
    font-family: 'Allura', cursive;
    font-size: 40px;
}

img {
    border: none;
}

/* *************** MAIN ************** */
/* this is changing the height of the page so it can scroll */
main {
    height: 1000px;
}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    background-color: #EEEAE0;

    /* align-items: center;
    justify-content: flex-start; */
    /* align-items: left;
    justify-content: left; */
}

ul {
    margin: 0px;
    padding-bottom: 15px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

nav ul li a {
    color: #4A4B4C;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: medium;
    text-decoration: none;
}

nav ul li a:hover {
    color: #9E6649
}

.home_button_style {
    color: #4A4B4C;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: medium;
    text-decoration: none;
}

.intro {
    max-width: 500px;
    text-align: center;
}

footer {
    background-color: #9E6649;
    /* hsl(38, 21%, 7%); */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.centered {
    text-align: center;
}

a {
    color: #4A4B4C;
}

.quote {
    /* background-color: #9E6649; */
    font-style: 'Open Sans';
    font-size: 40px;
    font-weight: 100;
    color: #4A4B4C;
    padding: 100px 120px;



}